* {
    box-sizing: border-box;
}

body, html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    padding: 0;
    margin: 0;
}

#root {
    height: 100%;
    overflow: hidden;
}

.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

g.selected {
    stroke: #e19aff;
    stroke-width: 1px;
}

g.connector {
    stroke: #e19aff;
    stroke-width: 0.5px;
    fill: #f7e2a0;
}
g.connector:hover {
    fill: #c8ff8e;
}

.hovered {
    stroke: #00aeff;
    stroke-width: 1px;
}

.rect-text-block {
    display: flex;
    height: 100%;
}

.rect-text-block p {
    margin: auto;
    text-align: center;
    font-size: 9px;
}

.element {
    cursor: pointer;
    user-select: none;
}